{% extends "templates/base.html" %}
{% block content %}
<h2>A2 Data Dive</h2>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>A2 Data Dive is all about: data, peer learning and non-profit/social service. The daylong, hacakthon style event is open and free to students an community members. We offer the stories and datasets for local nonprofits and the attendees take on the rest. Data Divers are free to collaborate and work on the data in whatever way they choose. In the end, everyone has hands on experience with real data and nonprofits receive all ideas or results.
</p>
<p>
In 2014 I was a Client Team Lead for SafeHouse, working with them to prepare goals and data sets in advance of the Dive. In 2015-2016, I was an Organizer, leading the process of soliciting non-profit partners, driving the strategy for the studnet organization, and coordination the several events we conduct each year. The 2015 Data Dive we organized was the biggest yet with 5 clients run by 20 student team leads and a dozen volunteers, and more than 150 general attendees that contributed more than 1,200 hours. 
</p>
</div>

<div class="proj col-lg-3 col-md-4 col-sm-6 col-xs-12">
<h2>Skills or Knowledge Gained:</h2>
<ul>
    <li>Event organization</li>
    <li>Participatory learning</li>
    <li>Community engagement</li>
    <li>Data analysis and ethics</li>
    <li>Non profit administration</li>
    <li>Fundraising and grant writing</li>

</ul>
</div>


        {% endblock %}