{% extends "templates/base.html" %}
{% block content %}
<h2>AccessPoint</h2>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>Collaborating with an Urban Planning student, we were awarded a finalist position at the 2016 American Planning Association App for Planning Challenge. We traveled together to pitch, along with another four finalists, in Phoenix, Arizona.   
</p>
<p>
We developed an idea, AccessPoint, for improving accessibility in communities. Taking a crowdsourcing approach, AccessPoint offers advocacy tools to users in two ways: 1) a Yelp-for-accessibility take on brosing and posting reviews of local business or public spaces and 2) providing an ADA enforcement mechanism that reduces the burden of data entry on citizens and increases the ease of collection for local government or planning offices. By leveraging widely used technologies for both citizens and government offices, AccessPoint can increase the flow of information needed to build more inclusive, accessible and strong communities.  
</p>
</div>

<div class="proj col-lg-3 col-md-4 col-sm-6 col-xs-12">
<h2>Skills or Knowledge Gained:</h2>
<ul>
    <li>ADA policy</li>
    <li>GIS infrastructure</li>
    <li>Civic data apps</li>
    <li>Innovation pitch</li>
    <li>Data-oriented development</li>

</ul>
</div>


        {% endblock %}