<!-- DO NOT CHANGE ANY PART OF THIS CODE!!!
Create the stylesheet style.css that will 
style the page as you want it to appear. -->
<!DOCTYPE html>
<html lang="en">
<head>

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/style.css"/>

<title>Molly Maher | Health Informaticist</title>

</head>

<body>

<header>

<!-- 	<h1> MOLLY  MAHER</h1>
 -->
<div class= "navbar navbar-default navbar-fixed-top myNav">
		<div class="container">

			<a href= "/index.html" class = "navbar-brand navName"> Molly Maher </a>
				<button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target="#navItems">
				<span class="sr-only">Toggle Dropdown</span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				</button>

			<div class = "collapse navbar-collapse" id = "navItems">

				<ul class= "nav navbar-nav">
					<li><a href="/index.html" class = 
						"{% if page == "" %}
			   				active
			   			{% endif %}
						 {% if page == "Index" %}
			  				 active
			  			 {% endif %}"
							> Home </a> </li>
					<li><a href="/projects.html" class="
						{% if page == "Contact" %}
			 				  active
			  			 {% endif %}" 
						>Projects</a></li>
					<li><a href="/contact.html" class="
						{% if page == "Projects" %}
			  				 active
			  			 {% endif %}"
						>Contact</a></li>
				</ul>
			</div>
		</div>	

		
</div>

<h1> Molly Maher </h1>		

</header>



<!-- {{page}}	
  
{% block content %}
	This is where content you want to see goes. No one wants to see what is here now.
	
{% endblock %}

	
  
  <footer>
  	<p>This footer will be updated <br/> Copyright Molly Maher 2016</p>
  </footer> -->
  </body>
</html>
<!-- DO NOT CHANGE ANY PART OF THIS CODE!!! -->
