{% extends "templates/base.html" %}
{% block content %}

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>I am a supporting member of a research team developing and launching a digital tool aimed to empower parents of hospitalized children undergoing BMT. My experience surrounds needs assessment, perceived usefulness, and heuristic usability analysis. Developed skills will include research study design and management, academic writing, qualitative analysis, user interviews and ethnographic research.
</p>
<p>
Working for the study for a year and a half, I completed more than 50 user interviews of patients, family members, and medical professionals. I also analyzed the qualitative findings and published two peer-reviewed journal articles. The experience made me passionate about the humanity in healthcare and apt to address issues in the most complex of clinical environments.
</p>
</div>

<div class="proj col-lg-3 col-md-4 col-sm-6 col-xs-12">
<h2>Skills or Knowledge Gained:</h2>
<ul>
    <li>Research methods</li>
    <li>Participatory design</li>
    <li>User interviews</li>
    <li>Qualitative analysis</li>
    <li>Research writing and publication</li>
    <li>Clinical innovationa and information</li>

</ul>
</div>


        {% endblock %}