{% extends "templates/base.html" %}
{% block content %}
<h2>Chop Chop</h2>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>Chop Chop was my team's submission to Innovation in Action, a six-month entrepreneurial experience to solve real-world public health problems. We were awarded 3rd Place and People's Choice awards totalling $6,000 to pursue the idea. An LLC was formed and members of the team continue to work on its renamed iteration, Skillet. </p>

<p> Chop Chop is a dinnerkit available through convenient kiosk locations. Offering grab-and-go box of fresh ingredients with a recipe that helps grow your nutrition and cooking literacy, Chop Chop helps bring back dinner to the many of us who are often stuck with less healthy options.</p>
</div>

<div class="proj col-lg-3 col-md-4 col-sm-6 col-xs-12">
<h2>Skills or Knowledge Gained:</h2>
<ul>
    <li>Customer discovery</li>
    <li>Business model development</li>
    <li>Cross-discipline teamwork</li>
    <li>Startup pitching process</li>
    <li>Nutrition literacy</li>
    <li>Branding and design</li>

</ul>
</div>


        {% endblock %}