{% extends "templates/base.html" %}
{% block content %}

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 contact">
    <h2> How to find me </h2>
    <ul>
	<li>email me: <a href="mailto:mollymaher@gmail.com?Subject=From%20your%20%20website" target="_blank"> mollymaher@gmail.com </a> </li>
	<li>call me: 248.396.8622</li>
	<li>connect with me on <a href="www.linkedin.com/in/mollymaher" target = _blank>LinkedIn.</a></li>
	<li>find me on twitter <a href ="twitter.com/mollycmaher" target= _blank>@mollycmaher</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <img class="img-responsive" src="/static/projects/molly.jpg" alt= "Molly and her lab on a park bench.">
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 contact">
    <h2> Current happenings </h2>
    <ul>
	<li>current city: Ypsilanti / Lansing, MI </li>
	<li>most recent trip: Phoenix, AZ</li>
	<li>latest music obsession: Wild Reeds</li>
	<li>saving money for: a schoolbus RV</li>
</ul>
</div>

		{% endblock %}