{% extends "templates/base.html" %}
{% block content %}
<h2>CU Independent</h2>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>My most true classroom, I served in several positions over three years of contribution to the University of Colorado student news organization, CUIndependent. Starting as a reporter and photographer, I was also a photography editor and column writer. I published several stories and dozens of photos and multimedia pieces for news, sports, entertainment and opinion sections. 
</p>
<p>
My tenure culminating in serving as Director of Marketing, the first ever to hold this position. In it, I worked with local businesses to find financially viable events that would help fund the news organization while raising awareness. The student-focused events continue today. 
</p>
</div>

<div class="proj col-lg-3 col-md-4 col-sm-6 col-xs-12">
<h2>Skills or Knowledge Gained:</h2>
<ul>
    <li>News reporting</li>
    <li>Photojournalism</li>
    <li>Copy editing and ethics</li>
    <li>Marketing and events</li>
</ul>
</div>


        {% endblock %}