{% extends "templates/base.html" %}
{% block content %}

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>My senior year of undergraduate studies, I spent my fall semester in Dakar, Senegal. Part of the CIEE (Council on International Education Exchange) program, I took courses at a local university campus and lived with a host family in the country's capital city. The five months afforded me a defining educational and personal experience. 
</p>
<p>
Coursework included advanced and conversational French, local language Wolof, gender studies in an African context, and literature and culture. I was exposed to other subject areas in the region including child welfare and disabilities, health care, and Peace Corps. My hope is to maintain 
</p>
</div>

<div class="proj col-lg-3 col-md-4 col-sm-6 col-xs-12">
<h2>Skills or Knowledge Gained:</h2>
<ul>
    <li>French language</li>
    <li>Wolof language</li>
    <li>Gender in Africa</li>
    <li>African studies in literature and culture</li>
</ul>
</div>


        {% endblock %}