{% extends "templates/base.html" %}
{% block content %}

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>In my first year at the School of Information, I completed a course on ethnography in the context of information. My team and I worked with a local client, Dawn Farm, that support people recovering from substance abuse. We conducted interviews and observations, qualitative analysis, and extensive reports recommending practices for record keeping related to client services. We compared this information system to a medical record system, coordinated by individual and requiring data validty to be useful in such potentially sensitive situations. </p>

</div>

<div class="proj col-lg-3 col-md-4 col-sm-6 col-xs-12">
<h2>Skills or Knowledge Gained:</h2>
<ul>
    <li>Ethnographic research</li>
    <li>Qualitative analysis</li>
    <li>Report writing</li>
    <li>Client relations</li>
    <li>Substance abuse services</li>
    <li>Consultant presentations</li>

</ul>
</div>


        {% endblock %}