{% extends "templates/base.html" %}
{% block content %}

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>The Detroit Ledger is a project that collects and presents grant financial data for the city. One of their goals is to tell the unique story of the funding landscape in Detroit in ways that people in the non profit industry, research field or journalism profession can use. 
</p>
<p>
I worked on two projects during the week, described below. We also spent a lot of time discussing the Detroit landscape, open data for civic action, community organizing and participatory technology. The impact of the project on me as an information professional came from these conversations that informed my knowledge of how to form and sustain a project of the Ledger's scale and how to engage with other community stakeholders, covering topics like choice of database to funding partners. 
</p>
</div>

<div class="proj col-lg-3 col-md-4 col-sm-6 col-xs-12">
<h2>Skills or Knowledge Gained:</h2>
<ul>
    <li>Civic data</li>
    <li>Grant records</li>
    <li>Drupal data entry</li>
    <li>Network analysis</li>
    <li>Javascript</li>
    <li>Detroit public health</li>

</ul>
</div>


        {% endblock %}