{% extends "templates/base.html" %}
{% block content %}

<div class="jumbotron myHeaderImg">
      <div class="container">
        <h1>Molly Maher</h1>
        <p> I love mountains, soul music &amp; hot sauce. Just Oceania and Antarctica stand between me and a visit to every continent.</p>
        <p>Passionate about the future of healthcare, I'm interested in innovations that improve clinical and public health. Having spent my masters researching technologies that support families of children undergoing intensive cancer treatment, I'm dedicated to innovating with humanity in mind.</p>
      </div>
</div>

<div class="smallJumbo">
      <div class="container">
        <h1>Molly Maher</h1>
        <img class = "img-responsive" src = "/static/projects/molly.jpg" alt="Molly and her lab on a park bench.">
        <p> I love mountains, soul music &amp; hot sauce. Just Oceania and Antarctica stand between me and a visit to every continent.</p>
        <p>Passionate about the future of healthcare, I'm interested in innovations that improve clinical and public health. Having spent my masters researching technologies that support families of children undergoing intensive cancer treatment, I'm dedicated to innovating with humanity in mind.</p>
      </div>
</div>

		{% endblock %}