{% extends "templates/base.html" %}
{% block content %}

<div class="jumbotron myHeaderImg">
      <div class="container">
        <h1>Molly Maher</h1>
        <p> I love mountains, soul music &amp; hot sauce. Just Oceania and Antarctica stand between me and a visit to every continent.</p>
        <p>Passionate about the future of health care, my interests relate to innovation for clinical quality improvements. Having spent my masters researching technologies that support families of children undergoing intensive cancer treatment, I'm dedicated to innovating with their humanity in mind.</p>
      </div>
    </div>

		{% endblock %}