{% extends "templates/base.html" %}
{% block content %}

<h2>Projects and Experiences</h2>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="/static/projects/chop.jpg" alt="team">
            <div class="overlay">
                <h2>CHOP CHOP</h2>
				<p> 
					<a href="#">LINK HERE</a>
				</p> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="/static/projects/chop.jpg" alt="team">
            <div class="overlay">
                <h2>A2 Data Dive</h2>
				<p> 
					<a href="#">LINK HERE</a>
				</p> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="/static/projects/chop.jpg" alt="team">
            <div class="overlay">
                <h2>BMT Roadmap</h2>
				<p> 
					<a href="#">LINK HERE</a>
				</p> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="/static/projects/chop.jpg" alt="team">
            <div class="overlay">
                <h2>Compass</h2>
				<p> 
					<a href="#">LINK HERE</a>
				</p> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="/static/projects/chop.jpg" alt="team">
            <div class="overlay">
                <h2>Detroit Ledger</h2>
				<p> 
					<a href="#">LINK HERE</a>
				</p> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="/static/projects/chop.jpg" alt="team">
            <div class="overlay">
                <h2>Access Point</h2>
				<p> 
					<a href="#">LINK HERE</a>
				</p> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="/static/projects/chop.jpg" alt="team">
            <div class="overlay">
                <h2>CIEE Dakar</h2>
				<p> 
					<a href="#">LINK HERE</a>
				</p> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="/static/projects/chop.jpg" alt="team">
            <div class="overlay">
                <h2>CHOP CHOP</h2>
				<p> 
					<a href="#">LINK HERE</a>
				</p> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="/static/projects/chop.jpg" alt="team">
            <div class="overlay">
                <h2>CHOP CHOP</h2>
				<p> 
					<a href="#">LINK HERE</a>
				</p> 
            </div>
    </div>
</div>



		{% endblock %}