

		{% extends "templates/base.html" %}
{% block content %}

<h2>Projects and Experiences</h2>


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
 	<div class="hovereffect overlay myHover">
        <a href="/chop.html"><h2>CHOP CHOP</h2></a>
        <a href="/chop.html"><img class="img-responsive" src="/static/projects/chop.jpg" alt="Photograph of six females with large prize check and props" /></a>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect overlay myHover">
        <a href="/aadd.html"><h2>A2 Data Dive</h2></a>
        <a href="/aadd.html"><img class="img-responsive" src="/static/projects/datadive.jpg" alt="Group of men working together around a computer" /></a>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect overlay myHover">
        <a href="/bmt.html"><h2>BMT Roadmap</h2></a>
        <a href="/bmt.html"><img class="img-responsive" src="/static/projects/roadmap.jpg" alt="Wireframe quality sketch representing a map."/></a>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect overlay myHover">
        <a href="/compass.html"><h2>Compass</h2></a>
        <a href="/compass.html"><img class="img-responsive" src="/static/projects/compass.jpg" alt="Sticky notes on a posterboard in an affinity formation, representing analysis."/></a>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect overlay myHover">
        <a href="/dl.html"><h2>Detroit Ledger</h2></a>
        <a href="/dl.html"><img class="img-responsive" src="/static/projects/ledger.png" alt="Network analysis screenshot, with nodes and curved lines joining them."/></a>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect overlay myHover">
        <a href="/ap.html"><h2>AccessPoint</h2></a>
        <a href="/ap.html"><img class="img-responsive" src="/static/projects/access.png" alt="Wheelchair icon marking directions to an accessible route."/></a>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect overlay myHover">
        <a href="/dakar.html"><h2>CIEE Dakar</h2></a>
        <a href="/dakar.html"><img class="img-responsive" src="/static/projects/dakar.jpg" alt="A photo of someone walking atop large sand dunes with a bright blue sky."/></a>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect overlay myHover">
        <a href="/df.html"><h2>Ethnography</h2></a>
        <a href="/df.html"><img class="img-responsive" src="/static/projects/dawnfarm.jpg" alt="A photograph of a large farm house."/></a>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect overlay myHover">
        <a href="/cui.html"><h2>CU Independent</h2></a>
        <a href="/cui.html"><img class="img-responsive" src="/static/projects/cui.jpg" alt="Molly smiling in a crowded newsroom."/></a>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="myHoverShort" href= "/chop.html"> Chop Chop </a>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="myHoverShort" href= "/aadl.html"> A2 Data Dive </a>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="myHoverShort" href= "/compass.html"> Compass </a>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="myHoverShort" href= "/bmt.html"> BMT Roadmap </a>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="myHoverShort" href= "/dl.html"> Detroit Ledger </a>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="myHoverShort" href= "/ap.html"> AccessPoint </a>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="myHoverShort" href= "/dakar.html"> CIEE Dakar </a>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="myHoverShort" href= "/df.html"> Ethnography </a>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="myHoverShort" href= "/cui.html"> CU Independent </a>
</div>


		{% endblock %}